<form action="">
  <div class="form-group">
    <label for="oldPassword"></label>
    <input type="password" class="form-control" id="oldPassword" />
  </div>
  <div class="form-group">
    <label for="newPassword"></label>
    <input type="password" class="form-control" id="newPassword" />
  </div>
  <div class="form-group">
    <label for="confirmPassword"></label>
    <input type="password" class="form-control" id="confirmPassword" />
  </div>
  <button class="btn btn-primar">Submit</button>
</form>
