<form [formGroup]="resetForm" (ngSubmit)="changePassword()">
  <div class="enclosure">
    <div class="form-group">
      <label for="oldPassword">Old Password</label>
      <input
        formControlName="oldPassword"
        type="password"
        class="form-control"
        [class.is-invalid]="oldPassword.invalid && oldPassword.touched"
        id="oldPassword"
      />
      <div
        *ngIf="oldPassword.errors.required && oldPassword.touched"
        class="invalid-feedback"
      >
        Old Password is required.
      </div>
    </div>
    <div formGroupName="resetGroup">
      <div class="form-group">
        <label for="newPassword">New Password</label>
        <input
          formControlName="newPassword"
          type="password"
          class="form-control"
          [class.is-invalid]="newPassword.invalid && newPassword.touched"
          id="newPassword"
        />
        <div
          *ngIf="newPassword.errors.required && newPassword.touched"
          class="invalid-feedback"
        >
          New Password is required.
        </div>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Re-enter New Password</label>
        <input
          formControlName="confirmPassword"
          type="password"
          class="form-control"
          [class.is-invalid]="
            confirmPassword.invalid && confirmPassword.touched
          "
          id="confirmPassword"
        />
        <div
          *ngIf="confirmPassword.errors.required && confirmPassword.touched"
          class="invalid-feedback"
        >
          Please re-enter New Password.
        </div>
        <div
          *ngIf="resetGroup.errors.noMatch && resetGroup.touched"
          class="invalid-feedback"
        >
          Passwords don't match
        </div>
      </div>
    </div>
    <button class="btn btn-primary">Change Password</button>
  </div>
</form>
