<form [formGroup]="resetForm" (ngSubmit)="changePassword()">
  <div class="enclosure">
    <div class="form-group">
      <label for="oldPassword">Old Password</label>
      <input
        formControlName="oldPassword"
        type="password"
        class="form-control"
        [class.is-invalid]="oldPassword.invalid && oldPassword.touched"
        id="oldPassword"
      />
      <div *ngIf="oldPassword.invalid && oldPassword.touched">
        <div *ngIf="oldPassword.errors.required" class="invalid-feedback">
          Old Password is required.
        </div>
        <div *ngIf="!oldPassword.errors.oldMatch" class="invalid-feedback">
            Old Password is incorrect.
          </div>
      </div>
    </div>
    <div formGroupName="resetGroup">
      <div class="form-group">
        <label for="newPassword">New Password</label>
        <input
          formControlName="newPassword"
          type="password"
          class="form-control"
          [class.is-invalid]="newPassword.invalid && newPassword.touched"
          id="newPassword"
        />
        <div *ngIf="newPassword.invalid && newPassword.touched">
          <div *ngIf="newPassword.errors.required" class="invalid-feedback">
            New Password is required.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Re-enter New Password</label>
        <input
          formControlName="confirmPassword"
          type="password"
          class="form-control"
          [class.is-invalid]="
            confirmPassword.invalid && confirmPassword.touched
          "
          id="confirmPassword"
        />
        <div *ngIf="resetGroup.invalid && confirmPassword.touched">
          <div *ngIf="confirmPassword.invalid">
            <div
              *ngIf="confirmPassword.errors.required"
              class="invalid-feedback"
            >
              Please re-enter New Password.
            </div>
          </div>
          <div *ngIf="!resetGroup.errors.match" class="invalid-feedback">
            Passwords don't match
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-primary">Change Password</button>
  </div>
</form>
