<ul class="list-unstyled">
  <li *ngFor="let follower of followers" class="media li-padding">
    <img
      class="mr-3 avatar "
      [src]="follower.avatar_url"
      alt="Follower Image"
      style="width:60px"
    />
    <div class="media-body">
      <h4 class="media-heading">
        <a [routerLink]="['/followers', follower.id, follower.login]">{{
          follower.login
        }}</a>
      </h4>
      <a [routerLink]="follower.html_url">{{ follower.html_url }}</a>
    </div>
  </li>
</ul>
